.divhover:hover {
    background-color: grey !important;
}

.banner {
    width: 100%;
}

.comprar {
    color: white;
    background-color: #343a40; 
}

.comprar:hover {
    color: black;
    background-color: white;
    border: 1px solid #343a40;
}

.card:hover {
    background-color: whitesmoke;
}

.card-title {
    padding: 9px 0;
}